/*Homepage*/

html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  
}




/* commmentssssssssss */

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;

}

.bg-img {
  background-image: url("animia.gif");
  min-height: 380px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/* Needed to position the navbar */
position: relative;

height: 750px;
}


/* headnav spacing horizontal from right side */
nav > ul {
  padding-right: 40px;
  display: flex;
  list-style: none;
}


/* header backgroudn color */
header {
  background-color: firebrick ;
}


/* image */
nav > ul >a >  img {
  display: inline-flex;
  width: 60px;
  height: 60px;  
}

/* headnav color and spacing for text*/
nav > ul >a > li {
  color: black;
  padding-right: 40px;
  
}


/* headnav links */
nav > ul > a {
  text-decoration: none;
  list-style-type: none;
}

/* text to the right and main logotext color */
nav > ul > #logo {
  margin-right: auto;
  color:black;
}


/* inhoud */





/* main  */

main > .introduction {
  text-align: center;
  padding-top: 10%;
}

.introduction {
  font-weight: normal;
  color: white;
}





/* centering and alignning footer */
#footer {
  display: flex;
  flex-flow: column wrap;
  background-color: #333333;
  height: 250px;
  width: 100%;
  align-content: center;
  
}




#test , #test2 , #test3{
  background-color: #333333;
  padding: 20px;
  
}


/* footer text and inhoud */
#test2 > p {
  text-align: center;
  color: white;
}

#test2 > ul {
  text-align: center;
  list-style-type: none;
}

#test2 > ul > a {
  color: white;
}

#test > h5 {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  color: white;
}


#test, #test3> h1 {
  color: white;
}

#test, #test2, #test3 {
 background-color: #333333;
 height: 100%;
}


#test , #test2 , #test3 {
  width: 25%;
}


#test3 {
  align-items: center;
  color: white;
}


#test3 >a > button {
  background-color: transparent;
  width: 100px;
  padding: 5px;
}

#test3 {
  padding-left: 120px;
}


#test2 {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  color: white;
}


#copyright { 
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 60px;
  background-color: #333333;
  color: white;
  border-top: white 1px solid;
  width: 100%;
  justify-content: space-evenly;
}


#copyright >#img-spacing> img {
  height: 50px;
  width: 50px;
}


/* main2ndpage */

#bg-color {
  background-color: rgb(255, 255, 255);
}
.page-wrapper {
  height: auto;
  margin: 80px;
 
}

.container3 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.container3 > img {
    padding: 20px;
}

.text-center {
    text-align: center;
}

#text-area  {
  background-color: #333333;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  max-height: 500px;
 

}

#test4 > p {
  color: white;
  padding: 20px;
 
 
}